<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>sullivanfam.org network clients</title>
    <link href="/static/network.css" rel="stylesheet">
  </head>
    <body>
      <div id="container">
        <div id="page-header">
          <h1> Sullivan Network Clients </h1>
        </div>
        <div id="chart">
          <table>
            <tr>
              <th>IP</th>
              <th>Hostname</th>
              <th>Start</th>
              <th>End</th>
              <th>Mac</th>
              <th>State</th>
              <th>Valid</th>
              <th>Action</th>
              <th></th>
            </tr>
            <tr>
            {% for row in addrs %}
            {% set  ip, host, start, end, mac, state, valid  = row %}
              <td>{{ ip }}</td>
              <td>{{ host }}</td>
              <td>{{ start }}</td>
              <td>{{ end }}</td>
              <td>{{ mac }}</td>
              <td>{{ state }}</td>
              <td>{{ valid }}</td>
                <td>
                <form action="/revoke" method="POST">
                  <button type="submit" name="ip" value="{{ ip }}" class="btn revoke">Revoke</button>
                </form>
                </td>
                <td>
                <form action="/extend" method="POST">
                  <button type="submit" name="ip" value="{{ ip }}" class="btn extend">Extend</button>
                </form>
                </td>
                <td>
                <form action="/list" method="POST">
                  <button type="submit" name="ip" value="{{ ip }}" class="btn list">List</button>
                </form>
                </td>
            </tr>
            {% endfor %}
          </table>
        </form>
        </div>
      </div>
    </body>
  </html>
